<% if ((typeof(session) !== 'undefined') && (typeof(session.user) !== 'undefined')) { %>
<div class="ui card">
    <div class="content">
        <% if((typeof(session.user.name) !== 'undefined') && (typeof(session.user.avatarUrl) !== 'undefined')) { %>
        <a href="/user/<%= session.user.name %>">
            <img class="ui avatar image" style="width: 5em;height: 5em;" src="<%= session.user.avatarUrl %>"
                 id="userCardAvatar"> <%= session.user.name %>
        </a>
        <% } %>
    </div>

    <% if(typeof session.user.integration !== 'undefined') { %>
    <div class="row">
        <div class="text" style="font-size: 1.2em;">
           积分: <%= session.user.integration %>
        </div>
    </div>
    <% } %>

    <% if(typeof(session.user.signature) !== 'undefined') { %>
    <div class="row">
        <div class="text signature" style="font-style: italic;">
        "<%= session.user.signature %>"
        </div>
    </div>
    <% } %>

    <div class="ui basic vertical buttons">
        <% if(typeof(session.user.personalWeb) !== 'undefined') { %>
        <a class="ui button" href="<%= session.user.personalWeb %>">个人网站</a>
        <% } %>
        <% if(typeof(session.user.GitHub) !== 'undefined') { %>
        <a class="ui  button" href="<%= session.user.GitHub %>">GitHUb主页</a>
        <% } %>
        <a class="ui  button" href="/userSetting/<%= session.user.name %>"><i class="icon settings"></i> 设置</a>
    </div>
</div>
<% } %>