<% include header %>
<% if ((typeof(session) !== 'undefined') && (typeof(session.user) !== 'undefined')) { %>
<link href="/cropper.min.css" rel="stylesheet">
<script src="/cropper.min.js"></script>
<div class="ui segment">
    <h3 class="ui right pointing basic green ribbon large label">基础信息</h3>
    <div class="ui two column grid">
        <div class="ui eight wide column">
            <form class="ui form" method="post" id="basicInfoForm" action="/api/saveBasicInfo">
                <div class="field">
                    <label>用户名</label>
                    <% if(typeof(session.user.name) !== 'undefined') { %>
                    <input type="text" readonly="" value="<%= session.user.name %>">
                    <% } %>
                </div>
                <div class="field">
                    <label>Email</label>
                    <% if(typeof(session.user.email) !== 'undefined') { %>
                    <input type="text" readonly="" value="<%= session.user.email %>">
                    <% } %>
                </div>
                <div class="field">
                    <label>个性签名</label>
                    <% if(typeof(session.user.signature) !== 'undefined') { %>
                    <textarea name="signature" rows="3" id="signature00"><%= session.user.signature %></textarea>
                    <% } %>
                </div>
                <div class="field">
                    <label>个人网站</label>
                    <% if(typeof(session.user.personalWeb) !== 'undefined') { %>
                    <input type="text" name="personalWeb" value="<%= session.user.personalWeb %>">
                    <% } %>
                </div>
                <div class="field">
                    <label>GitHub</label>
                    <% if(typeof(session.user.GitHub) !== 'undefined') { %>
                    <input type="text" name="GitHub" value="<%= session.user.GitHub %>">
                    <% } %>
                </div>
                <div class="field">
                    <label>积分</label>
                    <% if(typeof(session.user.integration) !== 'undefined') { %>
                    <input type="text" readonly="" value="<%= session.user.integration %>">
                    <% } %>
                </div>
                <div class="ui basic blue button" id="saveBasicSet" onclick="saveBasicSet()">
                    保存设置
                </div>
            </form>

        </div>
        <div class="four wide column">
            <div class="ui grid">
                <% if(typeof(session.user.avatarUrl) !== 'undefined') { %>
                <div class="centered row">
                    <img class="ui image" src="<%= session.user.avatarUrl %>" id="avatar">
                </div>
                <% } %>
                <div class="centered row">
                    <button class="ui basic blue button" id="changeAvatar">修改头像</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
        请选择合适的区域作为头像
    </div>
    <div class="ui two column center aligned padded grid">
        <div class="twelve wide column">
            <div class="img-container">
                <img id="image">
            </div>
        </div>
        <div class="four wide centered column">
            <div class="img-preview preview-lg" style="margin: 2px"></div>
            <div class="img-preview preview-md" style="margin: 2px"></div>
            <div class="img-preview preview-sm" style="margin: 2px"></div>
            <div class="ui divider"></div>
            <label for="inputImage" class="ui icon button">
                <i class="file icon"></i>
                选择文件</label>
            <input type="file" id="inputImage" style="display:none">
            <div class="ui divider"></div>

            <div class="actions">
                <div class="ui buttons">
                    <button class="ui cancel button">取消</button>
                    <div class="or"></div>
                    <button class="ui green button" id="uploadImage">保存</button>
                </div>
            </div>


        </div>
    </div>
</div>

<script type="text/javascript">
    $(document)
            .ready(function () {
                $('#updatePasswordForm').form({
                    fields: {
                        oldPassword: {
                            identifier: 'oldPassword',
                            rules: [
                                {
                                    type: 'length[6]',
                                    prompt: '旧密码长度最少6位'
                                }
                            ]
                        },
                        password: {
                            identifier: 'password',
                            rules: [
                                {
                                    type: 'length[6]',
                                    prompt: '新密码长度最少6位'
                                }
                            ]
                        },
                        re_password: {
                            identifier: 're_password',
                            rules: [
                                {
                                    type: 'length[6]',
                                    prompt: '确认新密码长度最少6位'
                                },
                                {
                                    type: 'match[password]',
                                    prompt: '两次密码不一致'
                                }
                            ]
                        },
                    },
                    on: 'blur',
                    onSuccess: updatePassword
                });

                var $image = $('#image');
                var $inputImage = $('#inputImage');
                var URL = window.URL || window.webkitURL;
                var blobURL;

                if (URL) {
                    $inputImage.change(function () {
                        var files = this.files;
                        var file;

                        if (!$image.data('cropper')) {
                            return;
                        }

                        if (files && files.length) {
                            file = files[0];
                            if (/^image\/\w+$/.test(file.type)) {
                                blobURL = URL.createObjectURL(file);
                                $image.one('built.cropper', function () {
                                    // Revoke when load complete
                                    URL.revokeObjectURL(blobURL);
                                }).cropper('reset').cropper('replace', blobURL);
                                $inputImage.val('');
                            } else {
                                window.alert('Please choose an image file.');
                            }
                        }
                    });
                } else {
                    $inputImage.prop('disabled', true).parent().addClass('disabled');
                }

                $('#changeAvatar').on('click', function (e) {
                    console.log('click');
                    $('.ui.modal')
                            .modal({
                                onShow: function () {
                                    $image.cropper({
                                        aspectRatio: 1 / 1,
                                        preview: '.img-preview',
                                    });
                                    console.log('show');
                                },
                                onHide: function () {
                                    console.log('摧毁')
                                    $image.cropper('destroy');
                                    $image.attr("src", "");
                                    $('#uploadImage').removeClass('loading');
                                    $('#uploadImage').attr('disabled', false);
                                }
                            })
                            .modal('show');
                });
                $('#uploadImage').on('click', function () {
                    console.log('上传所选');
                    $('#image').cropper('getCroppedCanvas', {
                        width: 148,
                        height: 148,
                    }).toBlob(function (blob) {
                        console.log(blob.size);
                        if ((blob.size / 1024) > 1024) {
                            alert('图片文件过大!');
                            return;
                        }
                        let formData = new FormData();
                        formData.append('avatarFile', blob);
                        $.ajax({
                            url: '/upload/Avatar',
                            type: "POST",
                            dataType: 'json',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (message) {
                                console.log(message);
                                if (message.result) {
                                    console.log('Upload success');
                                    let d = new Date();
                                    $('#avatar').attr("src", message.avatarUrl + '?' + d.getTime());
                                    $('#userCardAvatar').attr("src", message.avatarUrl + '?' + d.getTime());
                                    $('.ui.modal').modal('hide');
                                    //window.location.reload();
                                } else {
                                    console.log('Upload failed');
                                    $('#uploadImage').removeClass('loading');
                                    $('#uploadImage').attr('disabled', false);
                                }

                            },
                            error: function () {
                                console.log('Upload error');
                            }
                        });
                        $('#uploadImage').addClass('loading');
                        $('#uploadImage').attr('disabled', true);
                    });
                });
                function updatePassword() {
                    var formElement = $('#updatePasswordForm');
                    var formData = new FormData(formElement[0]);
                    formData.append('user_id', '<%= session.user.id %>');
                    $.ajax({
                        url: '/user/updatePassword',
                        type: "POST",
                        dataType: 'json',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (message) {
                            $('#updatePassword').removeClass('loading');
                            console.log('Upload success');
                            console.log(message);
                            if (message.result === true) {
                                $('#updatePasswordError').hide();
                                $('#updatePasswordMessage').show();
                                $('#updatePasswordMessage').text(message.message);
                            } else {
                                $('#updatePasswordMessage').hide();
                                $('#updatePasswordError').show();
                                $('#updatePasswordError').text(message.message);
                            }
                        },
                        error: function () {
                            console.log('Upload error');
                        }
                    });
                    $('#updatePassword').addClass('loading');
                }

                $('.ui.form').submit(function () {
                    return false;
                });
            });

    function saveBasicSet() {
        var formElement = $('#basicInfoForm');
        var formData = new FormData(formElement[0]);
        formData.append('user_id', '<%= session.user.id %>');
        $.ajax({
            url: '/user/saveBasicInfo',
            type: "POST",
            dataType: 'json',
            data: formData,
            processData: false,
            contentType: false,
            success: function (message) {
                console.log('Upload success');
                console.log(message);
                if (message.result === true) {
                    window.location.reload();
                }
            },
            error: function () {
                console.log('Upload error');
            }
        });
        $('#saveBasicSet').addClass('loading');
    }
</script>
<style type="text/css">
    .img-container,
    .img-preview {
        /*background-color: #f7f7f7;*/
        width: 100%;
        text-align: center;
    }

    .img-container {
        min-height: 200px;
    }

    .img-container > img {
        max-width: 100%;
    }

    .img-preview {
        float: none;
        margin-right: 5px;
        margin-bottom: 5px;
        overflow: hidden;
    }

    .img-preview > img {
        max-width: 100%;
    }

    .preview-lg {
        width: 148px;
        height: 148px;
    }

    .preview-md {
        width: 78px;
        height: 78px;
    }

    .preview-sm {
        width: 39px;
        height: 39px;
    }
</style>
<% if(typeof(session.user.id) !== 'undefined') { %>
<div class="ui segment">
    <h3 class="ui right pointing basic red ribbon large label">修改密码</h3>
    <div class="ui two column grid">
        <div class="ui eight wide column form">
            <form class="ui form" id="updatePasswordForm">
                <div class="field">
                    <label>旧密码</label>
                    <input type="password" name="oldPassword">
                </div>
                <div class="field">
                    <label>新密码</label>
                    <input type="password" name="password">
                </div>
                <div class="field">
                    <label>确认新密码</label>
                    <input type="password" name="re_password">
                </div>
                <div class="ui basic blue submit button" id="updatePassword">
                    修改密码
                </div>
                <div class="ui error message"></div>
            </form>
            <div class="ui error message" id="updatePasswordError" style="display: none">
            </div>
            <div class="ui floating message" id="updatePasswordMessage" style="display: none;color: red">
            </div>
        </div>
    </div>
</div>
<% } %>
<% } %>
<% include footer %>
